@import url(https://fonts.bunny.net/css?family=epilogue:200,300,400,700,800,900|work-sans:100,200,300,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer base {
  body,
  html,
  .kbar {
    @apply scrollbar-thin scrollbar-thumb-rounded-lg scrollbar-track-transparent dark:scrollbar-thumb-zinc-800 scrollbar-thumb-zinc-500;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 !important;
  }
}

.ball-transitions {
  transition: opacity 0.2s, transform 0.1s;
}
